:root {
  font: 36px / 1 sans-serif;
  font-family: Lucida, Helvetica, sans-serif;
  color: slategray;
}

html {
  height: 100%;
  margin: 2rem;

  background-color: aliceblue;
}

body {
  min-height: 100%;
}

.container {
  border: 1rem inset indianred;
  padding-left: 1rem;
}
